/* # Config */

:root {
  --bg-color: #202020;
  --primary-color: #8a4040;
  --secondary-color: #0b0b0bf7;
  --footer-height: 100px;
}

/* # Utils */

.wrapper {
  background-color: var(--bg-color);
  min-height: calc(100vh - var(--footer-height));
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.title-text {
  color: var(--primary-color);
}

/* # Navbar */

.nav-header {
  background-color: var(--primary-color);
  padding: 1rem;
}

/* # Movies Cards */

.card {
  box-shadow: 5px 5px 10px var(--primary-color);
  border: none;
}

.card-link .card:hover {
  cursor: pointer;
}

.card-link {
  text-decoration: none;
}

.card-img-top {
  height: auto;
  width: 100%;
  object-fit: cover;
  min-height: 500px;

}

.card-bg {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.card-bg li {
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
}

.card-show-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* # Review Section */

.user-badge {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 7px 18px;
}

/* # Footer */

.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 100px;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.left-footer > div {
  font-weight: bold;
  font-size: 1.1rem;
}

.footer-right-nav li {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 10px;
}
